factory-boy==2.11.1
-e git+https://github.com/kids-first/kf-sphinx-docs-theme.git@815ce0bf305c390ff9575718220f324ca28e16cb#egg=sphinx_kidsfirst_theme
sphinx-autobuild==0.7.1
doc8==0.8.0
pytest==4.3.0
pytest-django==3.4.7
pytest-pep8==1.0.6
