graphene==2.1.3
graphene-django==2.2.0
graphql-core==2.1
graphql-relay==0.4.5
Django==2.1.11
django-filter==2.1.0
graphene-file-upload==1.2.2
django-cors-headers==2.4.0
django-dotenv==1.4.2
django-s3-storage==0.12.4
boto3==1.9.101
psycopg2-binary==2.8.4
PyJWT==1.7.1
gunicorn==19.9.0
base32-crockford==0.3.0
requests==2.21.0
cryptography==2.5
sevenbridges-python==0.24.0
django-rq==2.1.0
rq==1.1.0
rq-scheduler==0.9.1
