{% block body %} {% block header %}
<p style="padding-bottom: 8px">
  <img
    src="https://github.com/kids-first/kf-ui-data-tracker/raw/master/public/data_tracker_email.png"
    alt="Kids First Data Tracker logo"
    height="150px"
  />
</p>
{% endblock %}

<h1>
  {% block title%} Hello from the Data Tracker {% endblock %}
</h1>

{% block content %} {% endblock %}

<p>
  This is an automated email from the Kids First Data Tracker. For help, please
  contact support@kidsfirstdrc.org
</p>

{% endblock %}
